{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">شماره سفارش</th>
            <th scope="col">مبلغ</th>
            <th scope="col">نام مشتری</th>
            <th scope="col">وضعیت پرداخت</th>

        </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order.get_total_price }}</td>
            <td>{{ order.user }}</td>
            {% if order.paid %}
                <td><img src="{% static 'shop/img/tick1.jpg' %}"></td>
            {% else %}
                <td><img src="{% static 'shop/img/fault tick1.png' %}"></td>
            {% endif %}

        </tr>


        </tbody>
    </table>
    <input type="button" class="btn btn-success" value="پرداخت">

{% endblock %}